html, body {
    background-color: #3b3c40;
    color: white;
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

#chatbox {
    background-color: #262629;
    height: 90%;
    width: 50%;
    border: solid 1px #4d4d4d;
    border-radius: 10px;
    overflow: auto;
    float: left;
    word-wrap: break-word;
}


#message-container {
    height: 400px;
}

#message-container div, #message-container h2, #message-container span {
    background-color: #2b2c35;
    margin: 0;
}

.message {
    border-bottom: solid 1px #4d4d4d;
    padding: 10px;
}

.message a {
    color: white;
    background: #3f506e;
    padding: 3px;
}

.lightgrey {
    color: grey;
}

#send-container {
    bottom: 0;
    width: 48%;
}

.files {
    overflow: auto;
    display: block ruby;
}

#user-list-container {
    background-color: #262629;
    position: absolute;
    right: 0;
    top: 0;
    width: 44%;
    height: 400px;
    padding: 1em;
    border: solid 1px #4d4d4d;
    border-radius: 10px;
    overflow: auto;
}

#user-list-container ul{
    list-style-type: none;
    padding: 0;
}

#message-input {
    width: 100%;
    background-color: #616161;
    list-style: none;
    padding: 7px;
    border: solid 1px #262629;
    border-radius: 10px;
    color: white;
}

.chat-window {
    position: absolute;
    bottom: 0;
    background-color: #262629;
    height: 35%;
    width: 25%;
    right: 0;
    border: solid 1px #4d4d4d;
    border-radius: 10px;
    margin-right: 10em;
    overflow: hidden;
    resize: both;
    word-wrap: break-word;
}

.chat-window h2 {
    font-size: 15pt;
    display: inline-block;
    margin: 15px;
    margin-top: 10px;
    /* margin: 10px; */
}

.private-chat-div {
    position: absolute;
    background: white;
    width: 25%;
    height: 80%;
    margin-left:auto;
}

#file-upload {
    width: 49px;
    height: 20px; 
    display: none;
}

#bt_upload {
    width: 49px;
    height: 20px;
    background: url(rs/attachment.png) no-repeat;
    cursor: pointer;
    position: absolute;
    border: none;
    margin-left: 0.5rem;
}

.attachment {
    background-color: #262629;
    color: white;
    margin: 0 3px 0 0;
    padding: 5px;
    display: inline-block;
    border-radius: 5px;
    border-width: 1px;
    border-color: black;
    display: inline;
}

#createGroupButton {
    color: white;
    padding: 10px;
    border-radius: 5px;
    background-color: #4d4d4d;
    border-color: transparent;
    cursor: pointer;
}

#createGroupButton:hover {
    background-color: #616161;
}

#createGroupModal {
    width: 50%;
    height: 50%;
    background-color: #262629;
    margin: auto;
    top: 21%;
    border: solid 1px #4d4d4d;
    border-radius: 10px;

    display: none;
    position: absolute;
    overflow: auto;
    left: 27%;
}

#createGroupModel span {
    padding: 0;
    margin: 0;
    left: 35%;
    position: absolute;
    margin-top: 18px;
    font-size: 16pt;
}

.drop-shadow {
    -webkit-box-shadow: 8px 10px 26px 1px rgba(0,0,0,0.61);
    -moz-box-shadow: 8px 10px 26px 1px rgba(0,0,0,0.61);
    box-shadow: 8px 10px 26px 1px rgba(0,0,0,0.61);
}


.close-button {
    float: right;
    cursor: pointer;
    padding: 5px;
    margin: 0;
    border-radius: 6px;
    border-color: transparent;
}

.close-button:hover{
    background-color: red;
}

#newGroupChatUserList {
    list-style-type: none;
    padding: 0;
    margin: 30px;
    margin-top: 100px;
}

.list-item {
    padding: 10px;
    -moz-user-select: none;   
    -khtml-user-select: none;
    -webkit-user-select: none;
    margin-bottom: 10px;
}

.list-item:hover{
    background-color: #4d4d4d;
    cursor: pointer;
}

.headline {
   font-size: 15pt;
   margin: 0; 
}


.chatWindow {
    height: 68%;
    width: 98%;
    background-color: #2b2c35;
    margin: auto;
    overflow: auto;
}

.chatWindowInputField {
    width: 95%;
    align-self: center;
    background-color: #616161;
    list-style: none;
    padding: 7px;
    border: solid 1px #262629;
    border-radius: 10px;
    color: white;
}

.chatForm {
    bottom: 0;
    width: 48%;
    position: absolute;
}

.createGroupButtons {
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;
    margin: auto;
}

.createGroupButtons button {
    padding: 10px;
}

#private-upload-button {
    width: 45px;
    height: 20px;
    background: url(rs/attachment.png) no-repeat;
    cursor: pointer;
    position: absolute;
    border: none;
    margin-left: 0.5rem;
}

#private-upload-input {
    width: 45px;
    height: 20px;
    display: none;
}

#privateFiles {
    overflow: auto;
    display: block ruby;
}